<div class="familyEducationBox">
    <section class="familyEducationArea eachListTitle">
        <div>
            <span class="icon"></span>
            <span class="txt">广州家教区域</span>
        </div>
        <ul>
            <li><a>广州天河家教</a></li>
            <li><a>广州白云家教</a></li>
            <li><a>广州越秀家教</a></li>
            <li><a>广州荔湾家教</a></li>
            <li><a>广州增城家教</a></li>
            <li><a>广州萝岗家教</a></li>
            <li><a>广州海珠家教</a></li>
            <li><a>广州番禺家教</a></li>
            <li><a>广州黄埔家教</a></li>
            <li><a>广州花都家教</a></li>
        </ul>
    </section>
    <section class="familyEducationSubject eachListTitle">
        <div>
            <span class="icon"></span>
            <span class="txt">广州家教科目</span>
        </div>
        <ul>
            <li><a>广州语文家教</a></li>
            <li><a>广州数学家教</a></li>
            <li><a>广州英语家教</a></li>
            <li><a>广州物理家教</a></li>
            <li><a>广州化学家教</a></li>
            <li><a>广州生物家教</a></li>
            <li><a>广州地理家教</a></li>
            <li><a>广州历史家教</a></li>
            <li><a>广州生物家教</a></li>
            <li><a>广州奥数家教</a></li>
            <li><a>广州竞赛家教</a></li>
        </ul>
    </section>
    <section class="familyEducationType eachListTitle">
        <div>
            <span class="icon"></span>
            <span class="txt">广州家教类型</span>
        </div>
        <ul>
            <li><a>上门一对一家教</a></li>
            <li><a>广州课外辅导</a></li>
            <li><a>广州家教网</a></li>
            <li><a>广州上门家教</a></li>
            <li><a>广州中考家教</a></li>
            <li><a>广州高考家教</a></li>
            <li><a>广州小升初家教</a></li>
        </ul>
    </section>
    <section class="familyEducationNews eachListTitle">
        <div>
            <span class="icon"></span>
            <span class="txt">升学资讯</span>
        </div>
        <ul class="news">
            <li><a>教育头条</a></li>
            <li><a>教育资讯</a></li>
            <li><a>家长问答</a></li>
            <li><a>学校大全</a></li>
            <li><a>资料下载</a></li>
            <li><a>高考指南</a></li>
            <li><a>升学指南</a></li>
        </ul>
    </section>
</div>
