<section class="search">
    <div class="searchTopArea">
        <div class="searchSum">
            选择<%= listTxt.queryType.sumTxt %>： <span class="searchSumType"></span>
            <span class="text">共<span class="number"><%= locals.total %></span>条 ></span>
        </div>
        <div class="searchHideBox">
            <div class="searchCondition">
                <% locals.diction.forEach(function(result){ %>
                <div class="searchConditionItem">
                    <div class="txt"><%= result.category %></div>
                    <div class="item">
                        <ul>
                           <% Object.keys(result.item).forEach(function(a){ %>
                            <li><a data-queryitem="<%= a %>" data-itemname ="<%= result.item[a].name %>" data-querycategory = "<%= result.category.split('：')[0] %>"><%= result.item[a].name %></a></li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
                <input type="hidden" name="<%= result.category.split('：')[0] %>" value=""/>
                <% }) %>
            </div>
            <div class="searchButton">
                点击查询
            </div>
        </div>
    </div>
    <div class="contentList">
        <div>
            <% if (list.length > 0 ) {%>
            <% list.forEach(function(item){ %>
            <a href="/information/article/<%= item.id %>">
            <section>
                <div class="newsCover">
                    <!--<img src="/img/width@2x.png"/>-->
                    <img src="<%= item.url || '/img/newLogo.png'%>"/>
                </div>
                <div class="newsTxt">
                    <span class="newsTitle"><%= item.title %> </span>
                    <span class="newsTime"></span>
                </div>
            </section>
            </a>
            <% }) %>
            <% }else {%>
            <div class="noData">没有数据</div>
            <% } %>
        </div>
    </div>
    <div class="newsButton">
        <div class="prev"><a href="<%= page.offset - 8 < 0 ? 0 : page.offset - 8 %>">上一页</a></div>
        <div class="next"><a href="<%= page.offset + 8 %>">下一页</a></div>
    </div>
</section>