<div class="teacherList">
    <% famousTeachers.forEach(function(item){ %>
       <a style="display: block" href="/teacher/<%= item.id %>/<%= params.city %>">
        <section>
            <div class="t_r_cover">
                <img src="<%= item.url %>"/>
            </div>
            <div class="t_r_txt">
                <h3 class="teacherName"><%= item.title %></h3>
                <p class="introduce"><%= item.introduction %></p>
            </div>
        </section>
       </a>
    <% }) %>
    </div>