<header class="listHeader">
    <nav>
        <span class="logo"><a style="display: block" href="/user" class="homePage"></a></span>
        <span class="title"><a href="/information/<%= params.city %>">升学资讯</a></span>
        <span class="arrow"></span>
        <span><a  href="/information/schoolList/unlimit/unlimit/<%= params.city %>/unlimit/0?city=unlimit&region=unlimit">学校列表</a></span>
        <span class="arrow"></span>
        <span class="schoolName"><a><%= locals.schoolName %></a></span>
    </nav>
</header>