<section class="search">
    <div class="searchTopArea">
        <div class="searchSum">
            选择<%= listTxt.queryType.sumTxt %>： <span class="searchSumType"></span>
            <span class="text">共<span class="number"><%= locals.total %></span>条 ></span>
        </div>
        <div class="searchHideBox">
            <div class="searchCondition">
                <% locals.diction.forEach(function(result){ %>
                <div class="searchConditionItem">
                    <div class="txt"><%= result.category %></div>
                    <div class="item">
                        <ul>
                           <% Object.keys(result.item).forEach(function(a){ %>
                            <li><a data-queryitem="<%= a %>" data-itemname ="<%= result.item[a].name %>" data-querycategory = "<%= result.category.split('：')[0] %>"><%= result.item[a].name %></a></li>
                            <% }) %>
                            <li style="visibility: hidden;height: 0px;margin: 0;padding: 0"></li>
                        </ul>
                    </div>
                </div>
                <input type="hidden" name="<%= result.category.split('：')[0] %>" value=""/>
                <% }) %>
            </div>
            <div class="searchButton">
                点击查询
            </div>
        </div>
    </div>
    <div class="contentList">
        <div>
            <% if (list.length > 0 ) {%>
            <% list.forEach(function(item){ %>
              <% if (renderType ==="schoolList"){ %>
            <a  href="/information/school/detail/<%= params.city %>/<%= item.id %>?city=<%= params.city%>" data-schoollist="schoolList">
                <section>
                    <div class="newsCover">
                        <img src="<%= item.url || '/img/newLogo.png'%>"/>
                    </div>
                    <div class="newsTxt">
                        <span class="newsTitle"><%= item.title %> </span>
                        <span class="newsTime"></span>
                    </div>
                </section>
            </a>
               <% }else{ %>
            <a href="/information/article/<%= params.city %>/<%= item.id %>">
            <section>
                <div class="newsCover">
                    <img src="<%= item.url || '/img/newLogo.png'%>"/>
                </div>
                <div class="newsTxt">
                    <span class="newsTitle"><%= item.title %> </span>
                    <span class="newsTime"></span>
                </div>
            </section>
            </a>
               <% } %>
            <% }) %>
            <% }else {%>
            <div class="noData">没有数据</div>
            <% } %>
        </div>
    </div>
    <%
    var url = "";
    var search = "";
    if(renderType =="studyNewsList"){
      url = params.type
    }else if(renderType =="dataDownloadList"){
    url = params.grade+'/'+ params.subject
    }else if(renderType =="parentsQaList"){
    url = params.grade
    }else if(renderType =="schoolList"){
    url = params.category + '/'+ params.level
    search = "?city="+(params.city || "unlimit")+"&region="+ (params.region || "unlimit")
    }
    %>
    <div class="newsButton next_page">
        <% if (renderType =="schoolList"){ %>
        <div class="prev"><a  href="/information/<%= renderType %>/<%= url %>/<%= params.city %>/<%= params.region %>/<%= page.offset - 8 < 0 ? 0 : page.offset - 8 %><%= search %>">上一页</a></div>
        <div class="next"><a  href="/information/<%= renderType %>/<%= url %>/<%= params.city %>/<%= params.region %>/<%= page.offset + 8 %><%= search %>">下一页</a></div>
        <% }else { %>
        <div class="prev"><a  href="/information/<%= renderType %>/<%= url %>/<%= params.city %>/<%= page.offset - 8 < 0 ? 0 : page.offset - 8 %>">上一页</a></div>
        <div class="next"><a  href="/information/<%= renderType %>/<%= url %>/<%= params.city %>/<%= page.offset + 8 %>">下一页</a></div>
        <% } %>
    </div>
</section>