<section class="search">
    <div class="searchTopArea">
        <div class="searchSum">
            选择<%= listTxt.queryType.sumTxt %>： <span class="searchSumType"></span>
            <span class="text">共<span class="number"><%= locals.total %></span>条 ></span>
        </div>
        <div class="searchHideBox">
            <div class="searchCondition">
                <% locals.diction.forEach(function(result){ %>
                <div class="searchConditionItem">
                    <div class="txt"><%= result.category %></div>
                    <div class="item">
                        <ul>
                           <% Object.keys(result.item).forEach(function(a){ %>
                            <li><a data-queryitem="<%= a %>" data-itemname ="<%= result.item[a].name %>"
                                   data-querycategory = "<%= result.category.split('：')[0] %>"
                            data-typeno="<%= result.item[a].bNO || result.item[a].aNO || result.item[a].cNO%>">
                                <%= result.item[a].name %></a></li>
                            <% }) %>
                            <li style="visibility: hidden;height: 0px;margin: 0;padding: 0"></li>
                        </ul>
                    </div>
                </div>
                <input type="hidden" name="<%= result.category.split('：')[0] %>" value=""/>
                <% }) %>
            </div>
            <div class="searchButton">
                点击查询
            </div>
        </div>
    </div>
    <div class="contentList">
        <div>
            <%

            var searchListName = {};
            var url = ""
            var page =""
            var queryString = ""
            var urlTip = ""
            if(!params.page){
            page ="p1"
            }else{
            page = params.page
            }
            if(renderType ==="studyNewsList"){
            searchListName.type = "wuyou";
            urlTip = "sd";
            queryString = params.queryString || "wuyou-"
            url = "wuyou"
            }else if(renderType ==="dataDownloadList"){
            searchListName.type = "download";
            url = "xiazai"
            urlTip = "np";
            queryString = params.queryString || "download-"
            } else if(renderType ==="schoolList"){
            searchListName.type = "school";
            url = "schools"
            urlTip = "rp";
            queryString = params.queryString || "school-"
            }else if(renderType ==="parentsQaList"){
            searchListName.type = "wenda";
            url = "wd"
            urlTip = "sp"
            queryString = params.queryString || "wenda-"
            }
            %>


            <% if (list.length > 0 ) {%>
            <% list.forEach(function(item){ %>
              <% if (renderType ==="schoolList"){ %>
            <a  href="/school/rp<%= item.id %>.html" data-schoollist="schoolList">
                <section>
                    <div class="newsCover">
                        <img src="<%= item.url || '/img/mobile/newLogo.png'%>"/>
                    </div>
                    <div class="newsTxt">
                        <span class="newsTitle"><%= item.title %> </span>
                        <span class="newsTime"></span>
                    </div>
                </section>
            </a>
               <% }else{ %>
            <a href="/<%= searchListName.type %>/<%= urlTip %><%= item.id %>.html">
            <section>
                <div class="newsCover">
                    <img src="<%= item.url || '/img/mobile/newLogo.png'%>"/>
                </div>
                <div class="newsTxt">
                    <span class="newsTitle"><%= item.title %> </span>
                    <span class="newsTime"></span>
                </div>
            </section>
            </a>
               <% } %>
            <% }) %>
            <% }else {%>
            <div class="noData">没有数据</div>
            <% } %>
        </div>
    </div>
    <div class="newsButton next_page">
        <% if(renderType === "studyNewsList"){ %>
        <div class="prev"><a  href="/<%= params.city %>/<%= url %>/<%= queryString %>/p<%= (parseInt(page.substring(1)) -1) ===0 ? 1 :  parseInt(page.substring(1)) -1 %>">上一页</a></div>
        <div class="next"><a  href="/<%= params.city %>/<%= url %>/<%= queryString %>/p<%= parseInt(page.substring(1)) +1 %>">下一页</a></div>
        <% }else{ %>
        <div class="prev"><a  href="/<%= url %>/<%= params.city %>/<%= queryString %>/p<%= (parseInt(page.substring(1)) -1) ===0 ? 1 :  parseInt(page.substring(1)) -1  %>">上一页</a></div>
        <div class="next"><a  href="/<%= url %>/<%= params.city %>/<%= queryString %>/p<%= parseInt(page.substring(1)) +1 %>">下一页</a></div>
         <% } %>
    </div>
</section>