<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/build/style.css" rel="stylesheet"/>
</head>
<script src="/build/countRem.js"></script>
<body data-pagetype="foreignTeacher" id="pageType" >
<%- include('./componentViews/common/homePageHeader.html') %>
<%- include('./componentViews/common/homePageNav.html') %>
<%- include('./componentViews/common/commonMoreList.html') %>
<div class="carefree">
    <header class="pic"></header>
    <section class="formArea">
        <div class="inputBox formButtonBox">
            <button class="formButton">
                立即免费体验
            </button>
        </div>
    </section>
    <div class="ads-foreignTeach">
        <div class="ads-txt">
            <p class="title">互联网＋外教</p>
            <p class="txt">让孩子足不出户拥有全球优质外教</p>
            <p class="tips">摆脱时间地域限制，外教老师100%来自英语为母语的国家</p>
        </div>
    </div>
    <div class="ads-advantage">
        <div class="ads-advantageBg">
            <div class="ads-txt">
                <p class="title">五大优势</p>
                <p class="txt">致力为中国孩子打造最优质的外教体验</p>
            </div>
            <div class="detailBg"></div>
        </div>
    </div>
    <div class="adsFea">
        <div class="txtDescription">
            <div class="Box"></div>
            <div class="ads-txt">
                <p class="title">三大特色</p>
                <p class="txt">保证孩子学习效果</p>
            </div>
        </div>
        <div class="contentArea">
            <div class="itemBox teachLogoBox">
                <div class="logo"></div>
                <div class="a_f_txt">
                    <p>纯外教，1对1强互动学习</p>
                    <p class="supplement">让您的孩子沉浸在纯正的英语学习环境中</p>
                </div>
            </div>
            <div class="itemBox clockBox">
                <div class="logo"></div>
                <div class="a_f_txt">
                    <p>每节课25分钟</p>
                    <p class="supplement">随时随地，高频练习，容易坚持，当然更见效果</p>
                </div>
            </div>
            <div class="itemBox cupBox">
                <div class="logo"></div>
                <div class="a_f_txt">
                    <p>专业丰富课程体系</p>
                    <p class="supplement">轻松教学风格，让您的孩子从此爱上学习英语</p>
                </div>
            </div>
        </div>
    </div>
    <div class="customerReputation">
        <div class="title-box">
            <div class="BOX"></div>
            <div class="ads-txt">
                <p class="title">客户口碑</p>
                <p class="txt">家长的好评是对我们最大的支持</p>
            </div>
        </div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <figure class="swiper-slide">
                    <img src="/img/SusanMum.png"/>
                    <article>
                        <h2><p>Susan妈妈</p></h2>
                        <h2><p class="detailTxt">
                            女儿上课两周了，从完全听不懂老师讲什么，到现在因为回答出某个问题而手舞足蹈，这是进步。我相信，无忧外教会让你有更大的进步。加油，宝贝！
                        </p></h2>
                    </article>
                </figure>
                <figure class="swiper-slide">
                    <img src="/img/kimdad.png"/>
                    <article>
                        <h2><p>Kim爸爸</p></h2>
                        <h2><p class="detailTxt">
                            这段时间一直在加强发音的练习，孩子进步真的很大，趁着假期出国旅行也没耽误上课，只要有WiFi随时随地都能上课，还挺方便的。
                        </p></h2>
                    </article>
                </figure>
                <figure class="swiper-slide">
                    <img src="/img/tonyMom.png"/>
                    <article>
                        <h2><p>Tony妈妈</p></h2>
                        <h2><p class="detailTxt">
                            儿子终于找到喜欢的外教了，课堂上聊的特别愉快，时不时的还会发出笑声。感谢无忧外教的老师们！
                        </p></h2>
                    </article>
                </figure>
                <figure class="swiper-slide">
                    <img src="/img/samMom.png"/>
                    <article>
                        <h2><p>Sam妈妈</p></h2>
                        <h2><p class="detailTxt">
                            儿子几乎没有英语基础，刚上课时我在旁边当他的翻译。现在上了2个月课，孩子基本能听懂老师的讲课内容，还示意让我走开，平时跟老师聊的开心时，都忘了下课时间，现在天天念叨着要上课。
                        </p></h2>
                    </article>
                </figure>

            </div>
            <ul class="swiper-pagination"></ul>
            <div class="inputBox formButtonBox">
                <button class="formButton">
                    立即免费体验
                </button>
            </div>
        </div>
    </div>
    <div class="media">
        <div class="title-box">
            <div class="BOX"></div>
            <div class="ads-txt">
                <p class="title">关注媒体</p>
                <p class="txt">社会公众的赞许是对我们最大的鼓励</p>
            </div>
        </div>
        <div class="mediaList">
            <div><div class="dz"></div></div>
            <div><div class="jm"></div></div>
            <div><div class="wy"></div></div>
            <div><div class="xl"></div></div>
            <div><div class="sh"></div></div>
            <div><div class="tt"></div></div>
            <div><div class="tx"></div></div>
            <div><div class="fh"></div></div>
        </div>

    </div>
    <div class="honorsBox">
        <div class="title-box">
            <div class="BOX"></div>
            <div class="ads-txt">
                <p class="title">企业荣誉</p>
                <p class="txt">社会公众的赞许是对我们最大的鼓励</p>
            </div>
        </div>
        <div class="honorsList">

        </div>
    </div>
    <div class="footCommonBox">
        <%- include('./componentViews/common/advertiseBrand.html') %>
        <%- include('./componentViews/common/evaluateList.html') %>
        <%- include('./componentViews/common/familyEducationCase.html') %>
    </div>
    <%- include('./componentViews/common/footer.html') %>
</div>
<script src="/build/main.js"></script>
</body>
</html>