<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link href="/build/style.css" rel="stylesheet"/>
    <link rel="stylesheet" media="only screen and (min-width: 414px)" href="/build/pc.css"/>
</head>
<script src="/build/countRem.js"></script>
<body data-pagetype="selectTeacher" id="pageType"  class="selectTeacher">
<%- include('./componentViews/common/homePageHeader.html') %>
<%- include('./componentViews/common/homePageNav.html',{active:"selectTeacher"}) %>
<%- include('./componentViews/common/commonMoreList.html') %>
<section class="selectTeacherContent">
    <div class="selectQuery">
        <ul>
            <li data-selecttype="intelligent"><span class="intelligentTxt">智能排序</span><span class="icon"></span></li>
            <li data-selecttype="grade"><span class="gradeTxt">年级</span><span class="icon"></span></li>
            <li data-selecttype="area"><span class="areaTxt">区域</span><span class="icon"></span></li>
            <li data-selecttype="select"><span class="selectTxt">筛选</span><span class="icon"></span></li>
        </ul>
        <input type="hidden" name="intelligent"/>
        <input type="hidden" name="grade"/>
        <input type="hidden" name="area"/>
        <!--<input type="hidden" name="select"/>-->
    </div>
    <ul class="teacherData">
        <% locals.list.forEach(function(item){ %>
        <li class="singleTeacher">
            <a style="display: block" href="/teacher/<%= item.t_id %>/<%= params.city %>">
            <div class="img">
                <img src="http://ortr4se0b.bkt.clouddn.com/<%= item.t_headimg %>"/>
            </div>
            <div class="teacherDetail">
                <div class="name"><span><%= item.t_name %></span></div>
                <div class="teacherRange">
                    <% item.t_grades.forEach(function(grade){ %>
                    <span class="item"><%= grade %></span>
                    <% }) %>
                </div>
                <div class="features">
                    <% item.t_tags.forEach(function(tag){ %>
                    <span class="item"><span><%= tag %></span></span>
                    <% }) %>
                </div>
            </div>
            <div class="price">
              ￥ <span class="number"><%= item.t_price %></span> 起
            </div>
            </a>
        </li>
        <% }) %>
    </ul>


</section>
<div class="footCommonBox">
    <%- include('./componentViews/common/advertiseBrand.html') %>
    <%- include('./componentViews/common/evaluateList.html') %>
    <%- include('./componentViews/common/familyEducationCase.html') %>
</div>
<%- include('./componentViews/common/footer.html') %>
<script id="tpl" type="text/x-template">
    <div class="queryTeacher globalModal {{target}}">
        {{#each queryType}}
        <section class="s_t_queryItem">
            <div class="titleBox">
                <div class="icon"></div>
                <span>{{name}}</span>
            </div>
            <ul class="queryItemLi">
                {{#each queryItem}}
                <li data-{{ ../category}}="{{code}}">{{itemName}}</li>
                {{/each}}
            </ul>
        </section>
        {{/each}}
        {{#if target}}
        <div class="queryBtn">点击查看</div>
        {{/if}}
    </div>
</script>
<script id="intelligentTpl" type="text/x-template">
    <div class="queryTeacher globalModal intelligentModal">
     <ul class="intelligent">
         <li data-orderby="auto">智能排序</li>
         <li data-orderby="goodComment">评价最好</li>
         <li data-orderby="highPrice">价格最高</li>
         <li data-orderby="lowPrice">价格最低</li>
         <li data-orderby="longCource">课时最长</li>
     </ul>
    </div>
</script>
<script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp"></script>
<script>
    var CONFIG = {
        queryName : "<%= locals.typeName %>",
        city : "",
        cacheData: JSON.parse('<%- JSON.stringify(params)%>') || {},
        cityID : "<%= params.city %>"
    }
</script>
<script src="/build/main.js"></script>
</body>
</html>