<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link href="/build/style.css" rel="stylesheet"/>
    <link rel="stylesheet" media="only screen and (min-width: 414px)" href="/build/pc.css"/>
</head>
<script src="/build/countRem.js"></script>
<body data-pagetype="successCase" id="pageType"  class="successCase">
<%- include('./componentViews/common/homePageHeader.html') %>
<%- include('./componentViews/common/homePageNav.html') %>
<%- include('./componentViews/common/navMoreList.html') %>
<section class="successCaseContent">
    <div class="topTitle">
     <p class="title">2016中高考学习榜  </p>
     <p class="title2">选师无忧•优秀学员</p>
    </div>
    <div class="studentData">
      <div class="singleStudent">
          <div class="img"><img src="/img/student.png"/></div>
          <div class="txt">
              <p class="name">戴同学</p>
              <p>辅导语文成绩提升21分</p>
          </div>
      </div>
      <div class="singleStudent">
            <div class="img"><img src="/img/student3.png"/></div>
            <div class="txt">
                <p class="name">谢同学</p>
                <p>辅导数学成绩提升52分</p>
            </div>
      </div>
      <div class="singleStudent student2">
            <div class="img"><img src="/img/student2.png"/></div>
            <div class="txt">
                <p class="name">李同学</p>
                <p>辅导英语成绩提升21分</p>
            </div>
      </div>
      <div class="singleStudent">
            <div class="img"><img src="/img/student4.png"/></div>
            <div class="txt">
                <p class="name">黄同学</p>
                <p>辅导化学成绩提升40分</p>
            </div>
      </div>
    </div>
    <div class="button">
        立即免费体验
    </div>
    <article class="tip-article">
        <span style="color: red;">95%</span>学员辅导一个月后成绩显著提升，看家长们说  在家就能试听课程，
        <span style="color: red;">试听满意</span>再付费，全程班主任保障服务，付费后不满意，<span style="color: red;">零门槛</span>随
    </article>
    <div class="phonePic">
      <div class="singlePic">
          <img src="/img/successPhone.png"/>
      </div>
    </div>
    <div class="button">
        立即免费体验
    </div>
</section>
<div class="footCommonBox">
    <%- include('./componentViews/common/advertiseBrand.html') %>
    <%- include('./componentViews/common/evaluateList.html') %>
    <%- include('./componentViews/common/familyEducationCase.html') %>
</div>
<%- include('./componentViews/common/footer.html') %>
<script src="/build/main.js"></script>
</body>
</html>