<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link href="/build/style.css" rel="stylesheet"/>
    <link rel="stylesheet" media="only screen and (min-width: 414px)" href="/build/pc.css"/>
</head>
<script src="/build/countRem.js"></script>
<body data-pagetype="teacherDetail" id="pageType"  class="teacherDetail">
<%- include('./componentViews/common/homePageHeader.html') %>
<%- include('./componentViews/common/homePageNav.html') %>
<%- include('./componentViews/common/commonMoreList.html') %>
<section class="teacherDetailContent">
 <div class="t_case">
   <div class="img"><img src="/img/width@2x.png"/></div>
   <div class="t_content">
       <div class="t_name">语文张老师</div>
       <div class="t_approve">
           <div class="t_identity">
               <i></i>
               <span>身份认证</span>
           </div>
           <div class="t_ACCI">
               <i></i>
               <span>教师认证</span>
           </div>
           <div class="t_education">
               <i></i>
               <span>学历认证</span>
           </div>
       </div>
       <div class="t_tags">
          <div>98%好评率</div>
          <div>6年教龄</div>
          <div>120评价</div>
          <div>386课时</div>
       </div>
   </div>
   <div class="t_price">

   </div>
 </div>
 <div class="t_query">
   <section class="selectClass">
    <div class="title">
        <span class="icon"></span>
        <span class="txt">选择年级</span>
    </div>
       <div class="selectClassContent">

       </div>
   </section>
     <section class="selectArea">
         <div class="title">
             <span class="icon"></span>
             <span class="txt">选择区域</span>
         </div>
         <div class="selectAreaContent">

         </div>
     </section>
     <div class="t_d_button">
         <div class="telephone">
             电话咨询
         </div>
         <div class="book">
             立即预约
         </div>
     </div>
 </div>
    <div class="t_successCase">
        <p class="title">
            成功案例
            <span class="arrowRight">

            </span>
        </p>
        <p class="tips">
            蒋同学历史中考94分考入深中
        </p>
        <p class="content">
            蒋同学历史中考94分考入深中
        </p>
    </div>
    <div class="t_experience">
        <p class="title">
            教学经验
            <span class="arrowRight">

            </span>
        </p>
        <p class="tips">
            1987/08—至今
        </p>
        <p class="content">
            蒋同学去年刚从山东老家转到深圳读书，由于在老家不考历史，成绩很差，考试经常不及格。我不仅帮他讲解历史概念及前因后果，还传授记忆方法和解题技巧，他的成绩提高很快。
        </p>
    </div>
    <div class="t_school">
        <p class="title">
            毕业院校
        </p>
        <p class="tips">
            1987/08—至今
        </p>
        <p class="content">
            蒋同学去年刚从山东老家转到深圳读书，由于在老家不考历史，成绩很差，考试经常不及格。我不仅帮他讲解历史概念及前因后果，还传授记忆方法和解题技巧，他的成绩提高很快。
        </p>
    </div>
    <div class="studentAssessment">
        <p class="title">
            学生评价
        </p>
        <div class="assessmentList">
            <div data-evaluatetype="good">好评</div>
            <div data-evaluatetype="middle">中评</div>
            <div data-evaluatetype="bad">差评</div>
        </div>
    </div>
    <div class="assessmentContent">
        <div class="evaluateSingle">
            <div class="pic">
                <img src="/img/width@2x.png"/>
            </div>
            <div class="txtContent">
                <p class="phoneAndName"><span>135****1545</span> <span class="name">深圳洪老师</span></p>
                <p class="tags">
                   <span>语文</span>
                    <span>语文</span>
                     <span>语文</span>
                      <span>语文</span>
                </p>
                <p class="studentEval">老师讲得不错的，效果很好~发音很准确</p>
                <p class ="replay">
                  <span>老师</span>回复：善于引导善于引导善于引导，善于于引导善于引导善于引导，善于于引导善于引导善于引导，善于于引导善于引导善于引导，善于
                </p>
            </div>
        </div>
    </div>
</section>

<%- include('./componentViews/common/footer.html') %>
<script id="tpl" type="text/x-template">
    <ul class="teacherDetailQuery">
        {{#each this }}
        <li>{{itemName}}</li>
        {{/each}}
    </ul>
</script>
<!--<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=Y04faNoNlPdLqtqpvIjUFzgLdmlllzDj"></script>-->
<script>
    var CONFIG = {
        queryName : "<%= locals.typeName %>",
        location : ""
    }
    //    function myFun(result){
    //        var cityName = result.name;
    //        CONFIG.location = cityName;
    //    }
    //    var myCity = new BMap.LocalCity();
    //    myCity.get(myFun);
</script>
<script src="/build/main.js"></script>
</body>
</html>