<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link href="/build/style.css" rel="stylesheet"/>
    <link rel="stylesheet" media="only screen and (min-width: 414px)" href="/build/pc.css"/>
</head>
<script src="/build/countRem.js"></script>
<body data-pagetype="teacherDetail" id="pageType"  class="teacherDetail">
<%- include('./componentViews/common/homePageHeader.html') %>
<%- include('./componentViews/common/homePageNav.html') %>
<%- include('./componentViews/common/commonMoreList.html') %>
<section class="teacherDetailContent">
 <div class="t_case">
   <div class="img"><img src="/img/width@2x.png"/></div>
   <div class="t_content">
       <div class="t_name">语文张老师</div>
       <div class="t_approve">
           <div class="t_identity">
               <i></i>
               <span>身份认证</span>
           </div>
           <div class="t_ACCI">
               <i></i>
               <span>教师认证</span>
           </div>
           <div class="t_education">
               <i></i>
               <span>学历认证</span>
           </div>
       </div>
       <div class="t_tags">
          <div>98%好评率</div>
          <div>6年教龄</div>
          <div>120评价</div>
          <div>386课时</div>
       </div>
   </div>
   <div class="t_price">

   </div>
 </div>
 <div class="t_query">

 </div>
</section>

<%- include('./componentViews/common/footer.html') %>
<script src="/build/main.js"></script>
</body>
</html>