<header>
    <div class="homePageHeader">
        <a class="logoHeader" href="/user"><img class="logo" src="/img/newLogo.png"/></a>
        <!--<img class="logo" src="/img/newLogo.png"/>-->
        <div class="location">
            <div class="locationArea">
                <span class="locationTxt"></span><i class="locationIcon"></i>
            </div>
        </div>
        <div class="phone">
            <div class="p-txt">
                <div><a href="tel:400-612-5351"><i></i><span class="txt">400-612-5351</span></a></div>
            </div>
        </div>
    </div>
</header>