<head>
<meta charset="utf-8">
<meta name="wap-font-scale" content="no">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<!--uc强制竖屏-->
<meta name="screen-orientation" content="portrait">
<!--QQ强制竖屏-->
<meta name="x5-orientation" content="portrait">

<title>选师无忧</title>
<meta name="keywords" content="家教,家教网,广州家教,广州家教中心,一对一辅导,一对一辅导,选师无忧">
<meta name="description" itemprop="description" content="广州怎么找好的家教老师？选师无忧，中国最专业的中小学老师预约平台，专注家教服务13年，国内高端教育品牌.提供专职广州家教老师,线上预约，线下试听上课，专业一对一辅导，帮助老师和学生精准对接，有效提高孩子学习成绩。">
<link href="/build/style.css" rel="stylesheet"/>
<script src="/build/countRem.js"></script>
</head>
