.teacherDetail{
  .t_case{
    position: relative;
    font-size: 0;
    padding: 30px 20px;
    margin: 30px 0;
    background: #ffffff;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    .t_price{
      position: absolute;
      top:20px;
      right: 20px;
      .fontSize(12px);
      color: red;
      .price{
        .fontSize(16px);
      }
    }
    >div{
      display: inline-block;
      vertical-align: middle;
    }
    .t_content{
      margin-left: 20px;
       .t_name{
         .fontSize(16px);
       }
      .t_approve{
        display: flex;
        margin-top: 26px;
        justify-content: space-between;
        >div{
          .fontSize(14px);
          margin-right: 10px;
         i{
           width: 30px;
           height: 30px;
           display: inline-block;
           vertical-align: middle;
         }
          span{
            display: inline-block;
            vertical-align: middle;
          }
        }
        .t_identity{
          i{
            .backgroundPic("shenfenyanzheng.png");
          }
        }
        .t_ACCI{
          i{
            .backgroundPic("jiaoshirenzhen.png");
          }
        }
        .t_education{
          i{
            .backgroundPic("xueliirenzhen.png");
          }
        }
      }
      .t_tags{
        .fontSize(12px);
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        >div{
          border: 1px solid #c1c1c1;
          padding: 0px 5px;
        }
      }
    }
    .img{
      img{
        width: 132px;
        height: 137px;
      }
    }
  }
  .t_query{
    border-bottom: 1px solid #dcdcdc;/*no*/;
    border-top: 1px solid #dcdcdc;/*no*/;
    background: #ffffff;
    .selectClass,.selectArea{
      padding: 20px;
      .title{
        .icon{
          display: inline-block;
          .backgroundPic("blueBox.png");
          vertical-align: middle;
          width: 5px;
          height: 36px;
          margin-right: 10px;
        }
      }
    }
    .selectClassContent,.selectArea{
     .teacherDetailQuery{
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
       &:after{
         content: "";
         flex-basis: 201px;
       }
       li{
         background: #f7f7f7;
         margin: 30px 0 0 0;
         flex-basis: 201px;
         height: 73px;
         //margin-right: 20px;
         border: 1px solid #dcdcdc;/*no*/
         border-radius: 10px;
         text-align: center;
         line-height: 73px;
       }
     }
    }
    .t_d_button{
      padding: 20px 0;
      text-align: center;
      >div{
        display: inline-block;
        width: 345px;
        height: 88px;
        border-radius: 10px;
        color: #ffffff;
        .fontSize(16px);
        line-height: 88px;
      }
      .telephone{
        background: #56d176;
        a{
          display: block;
          color: #ffffff;
        }
      }
      .book{
        background: @blueFontColor;
      }
    }
  }
  .t_successCase,.t_experience,.t_school{
    background: #ffffff;
    margin-top: 30px;
    border-top: 1px solid #dcdcdc;/*no*/
    padding-bottom: 30px;
    .title{
      .fontSize(16px);
      padding: 20px;
      border-bottom: 1px solid #dcdcdc;/*no*/

    }
    .tips{
      .fontSize(16px);
      padding:20px;
    }
    .content{
      text-align: justify;
      margin-top: 20px;
      padding: 0 20px;
      color: #646464;
    }
  }
  .studentAssessment{
    margin-top: 30px;
    background: #ffffff;
    //padding: 20px;
    .title{
      .fontSize(16px);
      padding: 20px;
      border-top: 1px solid #dcdcdc;/*no*/
      border-bottom: 1px solid #dcdcdc;/*no*/
      display: block;
      color:#000;
      .arrowRight{
        width: 14px;
        height: 27px;
        .backgroundPic("arrowRight.png");
        float: right;
        margin-top: 5px;
      }
    }
    .assessmentList{
      display: flex;
      >div{
        flex: 33%;
        //padding: 15px 0 27px;
        text-align: center;
        >span{
          display: inline-block;
          padding: 30px 10px ;
        }
      }
    }
  }
  .assessmentContent{
    width: 100%;
    overflow: hidden;
    margin-top: 30px;
    background: #ffffff;
    .middleEvaluate,.badEvaluate{
      display: none;
    }
    .noData{
      text-align: center;
      padding: 20px 0;
    }
    .evaluateSingle{
      padding: 20px;
<<<<<<< HEAD
      font-size: 0;
      border-bottom: 1px solid #dcdcdc; /*no*/
      >div{
        display: inline-block;
        vertical-align: text-top;
=======
      >div{
      display:inline-block;
>>>>>>> 86772b60ed29bf8b389294656fa2c700ccac4646
      }
      .pic{
        //padding: 20px;
        width: 120px;
        height: 120px;
        img{
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      .txtContent{
<<<<<<< HEAD
        margin-left: 20px;
        .fontSize(14px);
        width: 80%;
        .phoneAndName{
          color: #666666;
        }
        .tags{
          .fontSize(12px);
          color: #999999;
          margin-top: 10px;
        }
        .studentEvaluate{
          margin-top: 10px;
          color: #323232;
        }
        .reply{
          margin-top: 20px;
          color: #323232;
          background: #F5F5F7;
          padding: 15px 15px;
          .fontSize(13px);
          .teacher{
            color: @blueFontColor;
          }
=======
        .phoneAndName{
        color:##666666;
        .name{
          margin-left:10px;
        }
        }
        .tags{
          .fontSize(12px);
          color:#999999;
          margin-top:10px;
          >span{
          margin-left: 10px;
          }
        }
        .studentEval{
        margin-top:10px;
        color:#323232;
        }
        .replay{
        margin-top:30px;
        width: 595px;
        background:#F5F5F7;
        height:85px
>>>>>>> 86772b60ed29bf8b389294656fa2c700ccac4646
        }
      }
    }
  }
}