<!DOCTYPE html>
<html lang="en">
<%- include('./componentViews/common/meta.html') %>
<body data-pagetype="information" id="pageType" class="information">
<%- include('./componentViews/common/homePageHeader.html',{params:params}) %>
<%- include('./componentViews/common/homePageNav.html',{active:"information",params:params}) %>
<%- include('./componentViews/common/navMoreList.html',{params:params}) %>
<section class="homePageBanner">
    <div class="swiper-container">
        <div class="swiper-wrapper bannerWrapper">
            <% banners.forEach(function(item){ %>
            <div class="swiper-slide bannerSwiper">
                <a style="display: block" target="_blank" href="<%= item.b_target %>">
                    <img src="<%= item.b_path %>" alt="<%= item.b_title %>"/>
                </a>
            </div>
            <% }) %>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>

<section class="hotInformation eachListTitle">
    <div>
        <span class="icon"></span>
        <span class="txt">热门资讯</span>
    </div>
    <%- include("./componentViews/common/list.html",{dataList : hotInfos,needTime:true,params:params}) %>
    <!--<div class="viewMore hotInfo">-->
        <!--查看更多-->
    <!--</div>-->
</section>

<section class="worryFreeInfo eachListTitle" style="background: #f5f5f9">
    <div style="background: #ffffff" class="iconBox">
        <span class="icon"></span>
        <span class="txt">无忧资讯</span>
    </div>
    <div style="background: #ffffff;">
        <ul class="paginationUL">
            <li data-information="eduInfo" data-step="0">
                <a  href="/information/studyNewsList/sxgl/<%= params.city %>/0?searchName=升学攻略">升学攻略</a>
            </li>
            <li data-information="entranceStrategy" data-step="1">
                <a href="/information/studyNewsList/gkzn/<%= params.city %>/0?searchName=高考指南">高考指南</a>
            </li>
            <li data-information="cupInfo" data-step="2">
                <a href="/information/studyNewsList/bsxx/<%= params.city %>/0?searchName=杯赛信息">杯赛信息</a>
            </li>
            <li data-information="attainment" data-step="3">
                <a href="/information/studyNewsList/jzxd/<%= params.city %>/0?searchName=家长心得">家长心得</a>
            </li>
            <li data-information="recommend" data-step="4">
                <a href="/information/studyNewsList/qzcf/<%= params.city %>/0?searchName=亲子厨房">亲子厨房</a>
            </li>
        </ul>
    </div>
    <div class="worryFreeInfoContentBox">
        <section class="worryFreeInfoContent slideWarpper">
            <div class="pageSide1 slide">
                <% careFreeHotInfos.forEach(function(item){%>
                <div class="sideList">
                    <a href="/information/article/<%= params.city %>/<%= item.id %>">
                    <div class="w_f_i_pic">
                        <img src="<%= item.url%>"/>
                    </div>
                    <div class="w_f_i_txt">
                        <span class="title"><%= item.title%></span>
                        <span class="date"><%= item.time %></span>
                    </div>
                    </a>
                </div>
                <% }) %>
            </div>

        </section>
        <!--<div class="viewMore">-->
            <!--查看更多-->
        <!--</div>-->
    </div>
    <div class="imgInfoBanner">
        <% threeInfos.forEach(function(item){ %>
        <a href="/information/article/<%= params.city %>/<%= item.id %>">
        <div class="imgBannerPic">
            <img src="<%= item.longImgUrl %>">
            <div class="w-f-txt"><%= item.title %></div>
            <span class="w-f-txtBg"></span>
        </div>
        </a>
        <% }) %>
    </div>
</section>

<section class="dataDownload eachListTitle">
    <div class="marginLeft20">
        <span class="icon"></span>
        <span class="txt">资料下载</span>
    </div>
    <ul class="paginationUL">
        <li data-information="psData" data-step="0">
            <a href="/information/dataDownloadList/grade1/unlimit/<%= params.city %>/0?grade=grade6&subject=unlimit">小学</a>
        </li>
        <li data-information="jhsData" data-step="1">
            <a href="/information/dataDownloadList/grade1/unlimit/<%= params.city %>/0?grade=grade9&subject=unlimit">初中</a>
        </li>
        <li data-information="shsData" data-step="2">
            <a href="/information/dataDownloadList/grade1/unlimit/<%= params.city %>/0?grade=grade12&subject=unlimit">高中</a>
        </li>
    </ul>
    <div class="downloadList slideWarpper">
        <div class="pageSide1 slide textList">
            <%- include('./componentViews/common/list.html',{dataList:materials}) %>
        </div>
    </div>
</section>

<!--<section class="parentsQA eachListTitle">-->
    <!--<div class="marginLeft20">-->
        <!--<span class="icon"></span>-->
        <!--<span class="txt">家长回答</span>-->
    <!--</div>-->
    <!--<ul class="paginationUL">-->
        <!--<li data-information="firstGrade" data-step="0"><a class="activeBorder">初一</a></li>-->
        <!--<li data-information="secondGrade" data-step="1"><a>初二</a></li>-->
        <!--<li data-information="Exam" data-step="2"><a>中考</a></li>-->
        <!--<li data-information="collegeExam" data-step="3"><a>高考</a></li>-->
        <!--<li data-information="primary" data-step="4"><a>小学</a></li>-->
    <!--</ul>-->
    <!--<div class="questionsList slideWarpper">-->
  <!---->
    <!--</div>-->
<!--</section>-->

<section class="recommendTeacher eachListTitle">
    <div>
        <span class="icon"></span>
        <span class="txt">名师推荐</span>
    </div>
    <%- include('./componentViews/information/recommendTeacher.html',{famousTeachers:famousTeachers,params:params}) %>
</section>

<%- include('./componentViews/common/advertiseBrand.html') %>
<%- include('./componentViews/common/evaluateList.html',{latestComments:latestComments,params:params}) %>
<%- include('./componentViews/common/familyEducationCase.html') %>
<%- include('./componentViews/common/floatingWindow.html') %>
<%- include('./componentViews/common/footer.html') %>

<script>
    var CONFIG = {city:""}
</script>
<script src="/build/main.js"></script>
</body>
</html>