<!DOCTYPE html>
<html lang="en">
<%- include('./componentViews/common/meta.html') %>
<body data-pagetype="selectTeacher" id="pageType"  class="selectTeacher">
<%- include('./componentViews/common/homePageHeader.html') %>
<%- include('./componentViews/common/homePageNav.html',{active:"selectTeacher"}) %>
<%- include('./componentViews/common/commonMoreList.html') %>
<section class="selectTeacherContent">
    <div class="selectQuery">
        <ul>
            <li data-selecttype="intelligent"><span class="intelligentTxt">智能排序</span><span class="icon"></span></li>
            <li data-selecttype="grade"><span class="gradeTxt">年级</span><span class="icon"></span></li>
            <li data-selecttype="area"><span class="areaTxt">区域</span><span class="icon"></span></li>
            <li data-selecttype="select"><span class="selectTxt">筛选</span><span class="icon"></span></li>
        </ul>
        <input type="hidden" name="intelligent"/>
        <input type="hidden" name="grade"/>
        <input type="hidden" name="area"/>
        <!--<input type="hidden" name="select"/>-->
    </div>
    <ul class="teacherData">
        <% if(locals.list.length !== 0 ){ %>
        <% locals.list.forEach(function(item){ %>
        <li class="singleTeacher">
            <a style="display: block" href="/teacher/te<%= item.t_id %>.html">
            <div class="img">
                <img src="http://cdn.seo.51xuanshi.com/<%= item.t_headimg %>"/>
            </div>
            <div class="teacherDetail">
                <div class="name"><span><%= item.t_name %></span></div>
                <div class="teacherRange">
                    <% item.t_grades.forEach(function(grade){ %>
                    <span class="item"><%= grade %></span>
                    <% }) %>
                </div>
                <div class="features">
                    <% item.t_tags.forEach(function(tag){ %>
                    <span class="item"><span><%= tag %></span></span>
                    <% }) %>
                </div>
            </div>
            <div class="price">
              ￥ <span class="number"><%= item.t_price %></span> 起
            </div>
            </a>
        </li>
        <% }) %>
        <% }else{ %>
        <li class="noData"> 没有数据</li>
        <% } %>
    </ul>
    <%
    var page ="";
    if(!params.page){
    page ="p1"
    }else{
    page = params.page
    }
    %>
    <div class="selectTeacherBtn">
        <div class="prev">
            <a href="/teachers/<%= params.city %>/<%= params.queryString %>/p<%= (parseInt(page.substring(1)) -1) <=0 ? 1 :  parseInt(page.substring(1)) -1  %>">上一页</a></div>
        <div class="next">
            <a href="/teachers/<%= params.city %>/<%= params.queryString %>/p<%= parseInt(page.substring(1)) +1 %>">下一页</a></div>
    </div>

</section>
<div class="footCommonBox">
    <%- include('./componentViews/common/advertiseBrand.html') %>
    <%- include('./componentViews/common/evaluateList.html') %>
    <%- include('./componentViews/common/familyEducationCase.html') %>
</div>
<%- include('./componentViews/common/floatingWindow.html') %>
<%- include('./componentViews/common/footer.html') %>
<script id="tpl" type="text/x-template">
    <div class="queryTeacher globalModal {{target}}">
        {{#each selectDataArr}}
        <section class="s_t_queryItem">
            <div class="titleBox">
                <div class="icon"></div>
                <span>{{name}}</span>
            </div>
            <ul class="queryItemLi">
                {{#each item}}
                <li data-code="{{code}}" data-typeno="{{typeno}}" {{#if ../inputName}}data-{{../inputName}} {{/if}}>{{name}}</li>
                {{/each}}
            </ul>
            {{#if inputName}}
             <input type="hidden" name="{{inputName}}"/>
            {{/if}}
        </section>
        {{/each}}
        {{#if target}}
        <div class="queryBtn">点击查看</div>
        {{/if}}
    </div>
</script>
<script id="intelligentTpl" type="text/x-template">
    <div class="queryTeacher globalModal intelligentModal">
     <ul class="intelligent">
         {{#each this}}
         <li data-orderby="{{code}}" data-typeno="{{typeno}}">{{name}}</li>
         {{/each}}
     </ul>
    </div>
</script>
<script>
  var CONFIG = {
    queryName : "<%= locals.typeName %>",
    location : "",
    cacheData: JSON.parse('<%- JSON.stringify(locals.params)%>') || {},
    cityPinyin : "<%= params.city %>"
  }
</script>
<script src="/build/main.js"></script>
</body>
</html>