<!DOCTYPE html>
<html lang="en">
<%- include('./componentViews/common/meta.html') %>
<body data-pagetype="teacherDetail" id="pageType"  class="teacherDetail">
<%- include('./componentViews/teacher/teacherDetailHeader.html',{name:teacher.t_name}) %>
<%
   var all = teacher.t_good_comment+teacher.t_mid_comment +teacher.t_bad_comment;
   var tempComment = teacher.t_good_comment/all;
   var goodComment = null;
    if(isNaN(tempComment)){
       goodComment = 0;
   }else{
     goodComment =(teacher.t_good_comment/all).toFixed(2);
   }
%>
<section class="teacherDetailContent">
 <div class="t_case">
   <div class="img"><img src="http://cdn.seo.51xuanshi.com/<%= teacher.t_headimg %>"/></div>
   <div class="t_content">
       <div class="t_name"><%= teacher.t_name %></div>
       <div class="t_approve">
           <div class="t_identity">
               <i></i>
               <span>身份认证</span>
           </div>
           <div class="t_ACCI">
               <i></i>
               <span>教师认证</span>
           </div>
           <div class="t_education">
               <i></i>
               <span>学历认证</span>
           </div>
       </div>
       <div class="t_tags">
          <div><%= goodComment*100 +"%" %>好评率</div>
          <div><%= teacher.t_teach_age %>年教龄</div>
          <div><%= all %>评价</div>
          <div><%= teacher.t_subject %>课时</div>
       </div>
   </div>
   <div class="t_price">
       ￥<span class="price"><%= teacher.t_price %></span> 起
   </div>
 </div>
 <div class="t_query">
   <section class="selectClass">
    <div class="title">
        <span class="icon"></span>
        <span class="txt">选择年级</span>
    </div>
       <div class="selectClassContent">

       </div>
   </section>
     <section class="selectArea">
         <div class="title">
             <span class="icon"></span>
             <span class="txt">选择区域</span>
         </div>
         <div class="selectAreaContent">

         </div>
     </section>
     <div class="t_d_button">
         <div class="telephone">
            <a href="tel:400-612-5351">电话咨询</a>
         </div>
         <div class="book bookNow">
             立即预约
         </div>
     </div>
 </div>
    <div class="t_successCase">
        <p class="title">
            成功案例
        </p>
        <!--<p class="tips">-->
            <!--蒋同学历史中考94分考入深中-->
        <!--</p>-->
        <p class="content">
          <%= teacher.t_case %>
        </p>
    </div>
    <!--<div class="t_experience">-->
        <!--<p class="title">-->
            <!--教学经验-->
            <!--<span class="arrowRight">-->

            <!--</span>-->
        <!--</p>-->
        <!--<p class="tips">-->
            <!--1987/08—至今-->
        <!--</p>-->
        <!--<p class="content">-->
            <!--蒋同学去年刚从山东老家转到深圳读书，由于在老家不考历史，成绩很差，考试经常不及格。我不仅帮他讲解历史概念及前因后果，还传授记忆方法和解题技巧，他的成绩提高很快。-->
        <!--</p>-->
    <!--</div>-->
    <div class="t_school">
        <p class="title">
            毕业院校
        </p>
        <!--<p class="tips">-->
            <!--1987/08—至今-->
        <!--</p>-->
        <p class="content">
          <%= teacher.t_university %>
        </p>
    </div>
    <div class="studentAssessment">
        <a class="title" href="/teacher/teacher/comments/<%= teacher.t_id %>/<%= params.city %>">
           学生评价
            <span class="arrowRight"></span>

        </a>
        <div class="assessmentList">
            <div data-evaluatetype="good" class="blueColor">
                <span class="activeBorder">好评(<%= teacher.t_good_comment %>)</span>
            </div>
            <div data-evaluatetype="middle">
                <span>中评(<%= teacher.t_mid_comment %>)</span>
            </div>
            <div data-evaluatetype="bad">
                <span>差评(<%= teacher.t_bad_comment %>)</span>
            </div>
        </div>
    </div>
    <% var t_comment = JSON.parse(teacher.t_comment) %>
    <div class="assessmentContent">
        <div class="goodEvaluate">
            <% if(t_comment.good_comment.length !== 0){ %>
            <% t_comment.good_comment.forEach(function(item){ %>
            <div class="evaluateSingle">
                <div class="pic">
                    <img src="http://cdn.seo.51xuanshi.com/<%= teacher.t_headimg %>"/>
                </div>
                <div class="txtContent">
                    <p class="phoneAndName">
                        <span class="phone"><%= item.student_phone %></span>
                        <span class="name"><%= item.student_name %></span>
                    </p>
                    <p class="tags">
                        <span><%= item.course_name %></span>
                        <span><%= item.grade_name %></span>
                        <span><%= item.teacher_type %></span>
                        <!--<span>语文</span>-->
                    </p>
                    <p class="studentEvaluate">
                        <%= item.student_appraise_info %>
                    </p>
                    <% if (item.teacher_appraise_info) { %>
                    <p class="reply">
                        <span class="teacher">老师</span>&nbsp;回复：<%= item.teacher_appraise_info %>
                    </p>
                    <% } %>
                </div>
            </div>
            <% }) %>
            <% } else { %>
            <div class="noData"> 没有评价</div>
            <% } %>
        </div>
        <div class="middleEvaluate">
            <% if(t_comment.mid_comment.length !== 0){ %>
            <% t_comment.mid_comment.forEach(function(item){ %>
            <div class="evaluateSingle">
                <div class="pic">
                    <img src="http://cdn.seo.51xuanshi.com/<%= teacher.t_headimg %>"/>
                </div>
                <div class="txtContent">
                    <p class="phoneAndName">
                        <span class="phone"><%= item.student_phone %></span>
                        <span class="name"><%= item.student_name %></span>
                    </p>
                    <p class="tags">
                        <span><%= item.course_name %></span>
                        <span><%= item.grade_name %></span>
                        <span><%= item.teacher_type %></span>
                        <!--<span>语文</span>-->
                    </p>
                    <p class="studentEvaluate">
                        <%= item.student_appraise_info %>
                    </p>
                    <% if (item.teacher_appraise_info) { %>
                    <p class="reply">
                        <span class="teacher">老师</span>&nbsp;回复：<%= item.teacher_appraise_info %>
                    </p>
                    <% } %>
                </div>
            </div>
            <% }) %>
            <% } else { %>
            <div class="noData"> 没有评价</div>
            <% } %>
        </div>
        <div class="badEvaluate">
            <% if(t_comment.bad_comment.length !== 0){ %>
            <% t_comment.bad_comment.forEach(function(item){ %>
            <div class="evaluateSingle">
                <div class="pic">
                    <img src="http://cdn.seo.51xuanshi.com/<%= teacher.t_headimg %>"/>
                </div>
                <div class="txtContent">
                    <p class="phoneAndName">
                        <span class="phone"><%= item.student_phone %></span>
                        <span class="name"><%= item.student_name %></span>
                    </p>
                    <p class="tags">
                        <span><%= item.course_name %></span>
                        <span><%= item.grade_name %></span>
                        <span><%= item.teacher_type %></span>
                        <!--<span>语文</span>-->
                    </p>
                    <p class="studentEvaluate">
                        <%= item.student_appraise_info %>
                    </p>
                    <% if (item.teacher_appraise_info) { %>
                    <p class="reply">
                        <span class="teacher">老师</span>&nbsp;回复：<%= item.teacher_appraise_info %>
                    </p>
                    <% } %>
                </div>
            </div>
            <% }) %>
            <% } else { %>
            <div class="noData"> 没有评价</div>
            <% } %>
        </div>
    </div>
</section>
<div class="footCommonBox">
    <%- include('./componentViews/common/advertiseBrand.html') %>
    <%- include('./componentViews/common/evaluateList.html') %>
    <%- include('./componentViews/common/familyEducationCase.html') %>
</div>
<%- include('./componentViews/common/floatingWindow.html') %>
<%- include('./componentViews/common/footer.html') %>
<script id="tpl" type="text/x-template">
    <ul class="teacherDetailQuery">
        {{#each this }}
        <li data-regioncode="{{code}}">{{itemName}}</li>
        {{/each}}
    </ul>
</script>
<!--<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=Y04faNoNlPdLqtqpvIjUFzgLdmlllzDj"></script>-->
<script>
    var CONFIG = {
        queryName : "<%= locals.typeName %>",
        city : ""
    }
</script>
<script src="/build/main.js"></script>
</body>
</html>