<div class="viewMoreEvaluate"><div class="viewMoreEvaluateBtn">查看更多<i></i></div></div>
<section class="evaluate eachListTitle commonEvaluate">
    <div>
        <span class="icon"></span>
        <span class="txt">最新评价</span>
    </div>
    <ul class="commonListTitle evaluateList">
        <% if (locals.latestComments && locals.latestComments.length !== 0){ %>
        <% locals.latestComments.forEach(function(item){ %>
        <li><a href="/teacher/<%= item.t_id %>/dianping.html">
            <% console.log(item.t_comment) %>
            <i></i><span class="listTxt"><%= item.t_name %>：
            <% if(item.t_comment) { %>
            <%= item.t_comment.student_appraise_info %>
            <% } %>
        </span>
        </a></li>
        <% }) %>
        <% } %>
    </ul>
</section>
<div class="packUpEvaluate"><div class="packUpBtn">收起<i></i></div></div>