<div class="familyEducationBox">
    <section class="familyEducationArea eachListTitle">
        <div>
            <span class="icon"></span>
            <span class="txt"><span class="placeName">广州</span>家教区域</span>
        </div>
        <div class="footerBox">

        </div>
    </section>

    <section class="familyEducationSubject eachListTitle">
        <div>
            <span class="icon"></span>
            <span class="txt"><span class="placeName">广州</span>家教科目</span>
        </div>
        <ul>
            <li><a href="/teacher/list/auto/unlimit/unlimit/chinese/unlimit/unlimit/unlimit/<%= params.city %>/0"><span class="placeName">广州</span>语文家教</a></li>
            <li><a href="/teacher/list/auto/unlimit/unlimit/math/unlimit/unlimit/unlimit/<%= params.city %>/0"><span class="placeName">广州</span>数学家教</a></li>
            <li><a href="/teacher/list/auto/unlimit/unlimit/english/unlimit/unlimit/unlimit/<%= params.city %>/0"><span class="placeName">广州</span>英语家教</a></li>
            <li><a href="/teacher/list/auto/unlimit/unlimit/physics/unlimit/unlimit/unlimit/<%= params.city %>/0"><span class="placeName">广州</span>物理家教</a></li>
            <li><a href="/teacher/list/auto/unlimit/unlimit/chemistry/unlimit/unlimit/unlimit/<%= params.city %>/0"><span class="placeName">广州</span>化学家教</a></li>
            <li><a href="/teacher/list/auto/unlimit/unlimit/biology/unlimit/unlimit/unlimit/<%= params.city %>/0"><span class="placeName">广州</span>生物家教</a></li>
            <li><a href="/teacher/list/auto/unlimit/unlimit/politics/unlimit/unlimit/unlimit/<%= params.city %>/0"><span class="placeName">广州</span>政治家教</a></li>
            <li><a href="/teacher/list/auto/unlimit/unlimit/history/unlimit/unlimit/unlimit/<%= params.city %>/0"><span class="placeName">广州</span>历史家教</a></li>
            <li><a href="/teacher/list/auto/unlimit/unlimit/geography/unlimit/unlimit/unlimit/<%= params.city %>/0"><span class="placeName">广州</span>地理家教</a></li>
            <li><a href="/teacher/list/auto/unlimit/unlimit/olympic_math/unlimit/unlimit/unlimit/<%= params.city %>/0"><span class="placeName">广州</span>奥数家教</a></li>
        </ul>
    </section>
    <section class="familyEducationType eachListTitle">
        <div>
            <span class="icon"></span>
            <span class="txt"><span class="placeName">广州</span>家教类型</span>
        </div>
        <ul>
            <li><a href="/teacher/list/auto/unlimit/unlimit/unlimit/unlimit/unlimit/unlimit/<%= params.city %>/0">上门一对一家教</a></li>
            <li><a href="/teacher/list/auto/unlimit/unlimit/unlimit/unlimit/unlimit/unlimit/<%= params.city %>/0"><span class="placeName">广州</span>课外辅导</a></li>
            <li><a href="/teacher/list/auto/unlimit/unlimit/unlimit/unlimit/unlimit/unlimit/<%= params.city %>/0"><span class="placeName">广州</span>家教网</a></li>
            <li><a href="/teacher/list/auto/unlimit/unlimit/unlimit/unlimit/unlimit/unlimit/<%= params.city %>/0"><span class="placeName">广州</span>上门家教</a></li>
            <li><a href="/teacher/list/auto/unlimit/unlimit/unlimit/unlimit/unlimit/unlimit/<%= params.city %>/0"><span class="placeName">广州</span>中考家教</a></li>
            <li><a href="/teacher/list/auto/unlimit/unlimit/unlimit/unlimit/unlimit/unlimit/<%= params.city %>/0"><span class="placeName">广州</span>高考家教</a></li>
            <li><a href="/teacher/list/auto/unlimit/unlimit/unlimit/unlimit/unlimit/unlimit/<%= params.city %>/0"><span class="placeName">广州</span>小升初家教</a></li>
        </ul>
    </section>
    <section class="familyEducationNews eachListTitle">
        <div>
            <span class="icon"></span>
            <span class="txt">升学资讯</span>
        </div>
        <ul class="news">
            <li><a href="/information/<%= params.city %>">教育头条</a></li>
            <li><a href="/information/studyNewsList/unlimit/<%= params.city %>/0">教育资讯</a></li>
            <li><a href="/information/schoolList/unlimit/unlimit/<%= params.city %>/unlimit/0">家长问答</a></li>
            <li><a href="/information/schoolList/unlimit/unlimit/<%= params.city %>/unlimit/0">学校大全</a></li>
            <li><a href="/information/dataDownloadList/unlimit/unlimit/<%= params.city %>/0">资料下载</a></li>
            <li><a href="/information/studyNewsList/gkzn/<%= params.city %>/0?searchName=%E9%AB%98%E8%80%83%E6%8C%87%E5%8D%97">高考指南</a></li>
            <li><a href="/information/studyNewsList/sxgl/<%= params.city %>/0?searchName=升学攻略">升学指南</a></li>
        </ul>
    </section>
</div>
<script id="footerAreaTpl" type="text/x-template">
    <ul>
        {{#each this}}
        <li><a href="/teacher/list/auto/unlimit/{{code}}/unlimit/unlimit/unlimit/unlimit/<%= params.city%>/0"><span class="placeName">广州</span><span class="regionName">{{itemName}}</span>家教</a></li>
        {{/each}}
    </ul>
</script>
<div class="seoFooter" style="display: none">
    <ul>
        <li><a><span class="placeName">广州</span><span class="regionName">天河</span>家教</a></li>
        <li><a>
            <span class="placeName">广州</span><span class="regionName">白云</span>家教</a></li>
        <li><a>
            <span class="placeName">广州</span><span class="regionName">越秀</span>家教</a></li>
        <li><a>
            <span class="placeName">广州</span><span class="regionName">荔湾</span>家教</a></li>
        <li><a>
            <span class="placeName">广州</span><span class="regionName">增城</span>家教</a></li>
        <li><a>
            <span class="placeName">广州</span><span class="regionName">萝岗</span>家教</a></li>
        <li><a>
            <span class="placeName">广州</span><span class="regionName">海珠</span>家教</a></li>
        <li><a>
            <span class="placeName">广州</span><span class="regionName">番禺</span>
            家教</a></li>
        <li><a>
            <span class="placeName">广州</span><span class="regionName">黄埔</span>
            家教</a></li>
        <li><a>
            <span class="placeName">广州</span><span class="regionName">花都</span>
            家教</a></li>
    </ul>
</div>