<div class="navMoreList">
    <a href="/information/studyNewsList/unlimit/<%= params.city %>/0"><span>无忧资讯</span></a>
    <a href="/information/schoolList/unlimit/unlimit/<%= params.city %>/unlimit/0?city=unlimit&region=unlimit" id="schoolListNav"><span>学校列表</span></a>
    <a href="/information/parentsQaList/unlimit/<%= params.city %>/0"><span>家长问答</span></a>
    <a href="/information/dataDownloadList/unlimit/unlimit/<%= params.city %>/0"><span>资料下载</span></a>
    <a href="/teacher/list/auto/unlimit/unlimit/unlimit/unlimit/unlimit/unlimit/<%= params.city %>/0"><span>找家教</span></a>
</div>