<!DOCTYPE html>
<html lang="en">
<%- include('./componentViews/common/meta.html') %>
<body id="pageType" data-pagetype="aboutUS" class="aboutUS">
<%- include('./componentViews/common/header.html',{active:"aboutUS",isDisplaySwitchCity:true}) %>

<div class="content">
    <div class="a_banner"></div>
    <div class="a_content">
      <div class="aboutItem">
          <div class="title">关于我们</div>
          <article>
              选师无忧（熙励教育）是华南区师资最丰富的教育O2O平台之一，拥有14年的中小学课外辅导经验，线上老师、家长群体用户超过100万，服务模式为 家长线上预约，老师上门辅导，曾获2015年中国国 际智慧教育展“中国实力教育品牌”，羊城晚报“岭 南教育（最受学生喜爱在线教育平台）金鼎奖”, 2017年获得科技部、财政部、国家税务总局“国家高新技术企业”认证。
          </article>
      </div>
        <div class="aboutItem">
            <div class="title">企业文化及核心价值观</div>
            <article>
                <p>企业愿景：成为受尊敬的到家教育服务公司</p>
                <p>使命：为老师创造价值，让孩子成长无忧</p>
                <p>核心价值观：诚信务实，真诚服务，激情专注，学习创新</p>
                <p>诚实守信：坚守诚信准则，秉持诚实守信的品德</p>
                <p>真诚服务：真诚服务学生，建立严格的教师身份认证机制和用户投诉机制，通过人工审核、技术屏蔽以及授课反馈回访等方式维护教学质量、保障教学安全，为学生收获良好的辅导效果。</p>
                <p>共享担当：团结合作，在竞争中共享担当</p>
                <p>执行高效：快速执行反馈客户需求，配合高效完成任务</p>
                <p>学习创新：持续学习，积极创新</p>
            </article>
        </div>
        <div class="aboutItem">
            <div class="title">品牌实力</div>
            <article>
                <p>2010年荣获“最受公众信赖课外辅导品牌”</p>
                <p>2011年荣获“南粤十佳课外辅导品牌”</p>
                <p>2011年荣获第二届广东教育博览会金奖</p>
                <p>2012-2015年 连续三届华南师范大学研究生教师技能大赛特约赞助商</p>
                <p>2015年“选师无忧”项目荣获“中国十佳MBA/EMBA创业奖”</p>
                <p>2015年 全球移动互联网创业大赛路演金奖</p>
                <p>2015年 新浪网第八届“中国教育盛典”提名机构</p>
                <p>2015年 中国国际智慧教育展“中国实力教育辅导品牌”</p>
                <p>2015年 羊城晚报“岭南教育（最受学生喜爱在线教育平台）金鼎奖”</p>
                <p>2016年授予选师无忧“2016最受家长喜爱十大教育品牌”称号</p>
                <p>2017年获得科技部、财政部、国家税务总局“国家高新技术企业”认证</p>
            </article>
        </div>
        <div class="aboutItem">
            <div class="title">联系我们</div>
            <ul class="address">
                <li>
                    <p class="name">广州岗顶总部</p>
                    <p>广州市天河区五山路1号华晟大厦1502室</p>
                    <p>咨询热线：020-87530298</p>
                </li>
                <li>
                    <p class="name">广州农讲所体验中心</p>
                    <p>广州市越秀区中山四路217号东鸣轩517A</p>
                    <p>咨询热线：020-83702492</p>
                </li>
                <li>
                    <p class="name">广州鹭江体验中心</p>
                    <p>广州市海珠区新港西路181号中电数码城601</p>
                    <p>咨询热线：020-89115251</p>
                </li>
                <li>
                    <p class="name">广州市桥体验中心</p>
                    <p>广州市番禺区光明北路147号</p>
                    <p>咨询热线：400-612-5351</p>
                </li>
                <li>
                    <p class="name">深圳百花体验中心</p>
                    <p>深圳福田区百花二路百花新天地B121铺</p>
                    <p>咨询热线：0755-88377520</p>
                </li>
                <li>
                    <p class="name">深圳石厦体验中心</p>
                    <p>福田区石厦马成时代广场220铺</p>
                    <p>咨询热线：0755-82795380</p>
                </li>
                <li>
                    <p class="name">深圳宝安体验中心</p>
                    <p>深圳宝安区新安街道新湖路东侧天悦龙庭A栋117号铺</p>
                    <p>咨询热线：0755-29993832</p>
                </li>
                <li>
                    <p class="name">珠海丹田广场体验中心</p>
                    <p>珠海市香洲区凤凰北路1015号丹田广场410房</p>
                    <p>咨询热线：0756-2127286</p>
                </li>
                <li>
                    <p class="name">珠海新香洲体验中心</p>
                    <p>珠海市新香洲安福街70号安居园33栋城轩商厦一楼</p>
                    <p>咨询热线：0756-2275328</p>
                </li>
                <li>
                    <p class="name">梅州市兴宁体验中心</p>
                    <p>广东省兴宁市技工学校电商大楼202房</p>
                    <p>咨询热线：0753-3337171</p>
                </li>
                <li>
                    <p class="commonPhone">全国热线：400-612-5351</p>
                </li>
            </ul>
        </div>
        <div class="map" id="allmap"></div>
    </div>
</div>
<%- include('./componentViews/common/rightFloatingWindow.html') %>
<%- include('./componentViews/common/footer.html') %>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=Y04faNoNlPdLqtqpvIjUFzgLdmlllzDj"></script>
<script>
  var map = new BMap.Map("allmap");
  console.log(map);
  var point = new BMap.Point(113.34913, 23.142316);
  map.enableScrollWheelZoom();
  var marker = new BMap.Marker(point); // 创建标注
  map.addOverlay(marker); // 将标注添加到地图中
  map.centerAndZoom(point, 18);
  var opts = {
    width: 344, // 信息窗口宽度
    height: 126, // 信息窗口高度
    title: "广州市熙励教育信息咨询有限公司", // 信息窗口标题
    enableMessage: true, //设置允许信息窗发送短息
  }
  var infoWindow = new BMap.InfoWindow("地址：广州市天河区五山路1号华晟大厦1506<br>电话：400-612-5351<br>邮编：510000", opts); // 创建信息窗口对象
  marker.addEventListener("click", function() {
    map.openInfoWindow(infoWindow, point); //开启信息窗口
  });
</script>
<%- include('./componentViews/common/config.html') %>
<script src="/build/pcMain.js"></script>
</body>
</html>