<!DOCTYPE html>
<html lang="en">
<%- include('./componentViews/common/meta.html') %>
<body id="pageType" data-pagetype="beComeTeacher" class="beComeTeacher">
<%- include('./componentViews/common/header.html') %>

<div class="content">
    <section class="banner1"></section>
    <section class="banner2"></section>
    <section class="banner3">
        <p>无须招生，邀请老师入驻就能拿现金！</p>
    </section>
    <section class="banner4"></section>
    <section class="banner5">
        <div class="pic"></div>
    </section>
</div>
<%- include('./componentViews/common/footer.html') %>
<%- include('./componentViews/common/config.html') %>
<script src="/build/pcMain.js"></script>
</body>
</html>