<footer>
  <div class="footer">
      <div class="img"></div>
      <div class="tipLinks">
          <ul>
              <li><a href="/<%= params.city %>/about/us.html">关于我们</a></li>
              <li><a href="/<%= params.city %>/about/contact.html">联系我们</a></li>
              <li><a href="/<%= params.city %>/about/join.html">加入我们</a></li>
              <li><a href="">网站地图</a></li>
          </ul>
          <div class="copy">粤ICP备15028610号</div>
      </div>
      <div class="phoneBox">
          <div class="phone">
              400-612-5351
          </div>
          <div class="txt">
              周一至周日7x24小时在线客服
          </div>
      </div>
  </div>
</footer>