<head>
    <meta charset="utf-8">
    <meta name="wap-font-scale" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!--uc强制竖屏-->
    <meta name="screen-orientation" content="portrait">
    <!--QQ强制竖屏-->
    <meta name="x5-orientation" content="portrait">

    <title><%= tkd.title %></title>
    <meta name="keywords" content="<%= tkd.keywords %>">
    <meta name="description" itemprop="description" content="<%= tkd.description %>">
    <link href="/build/pc.css" rel="stylesheet"/>
</head>