<nav>
    <ul>
        <% if(locals.homePage === true){ %>
        <li data-course="homePage">
            <a>全部课程<i></i></a>
            <div class="allCourse">
                <div class="primarySchool queryListActive" data-allcourse="primarySchool">
                    <div class="typeName">小学</div>
                </div>
                <div class="middleSchool" data-allcourse="middleSchool">
                    <div class="typeName">初中</div>
                </div>
                <div class="highSchool" data-allcourse="highSchool">
                    <div class="typeName">高中</div>
                </div>
                <ul class="h_primaryUL">
                    <li>
                        <span>一年级</span>
                        <span><a href="/teachers/<%=params.city %>/s-b1/">语文</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b2/">数学</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b3/">英语</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b10/">奥数</a></span>
                    </li>
                    <li>
                        <span>二年级</span>
                        <span><a href="/teachers/<%=params.city %>/s-b1/">语文</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b2/">数学</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b3/">英语</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b10/">奥数</a></span>
                    </li>
                    <li>
                        <span>三年级</span>
                        <span><a href="/teachers/<%=params.city %>/s-b1/">语文</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b2/">数学</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b3/">英语</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b10/">奥数</a></span>
                    </li>
                    <li>
                        <span>四年级</span>
                        <span><a href="/teachers/<%=params.city %>/s-b1/">语文</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b2/">数学</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b3/">英语</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b10/">奥数</a></span>
                    </li>
                    <li>
                        <span>五年级</span>
                        <span><a href="/teachers/<%=params.city %>/s-b1/">语文</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b2/">数学</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b3/">英语</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b10/">奥数</a></span>
                    </li>
                    <li>
                        <span>六年级</span>
                        <span><a href="/teachers/<%=params.city %>/s-b1/">语文</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b2/">数学</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b3/">英语</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b10/">奥数</a></span>
                    </li>
                </ul>
                <ul class="h_midUL">
                    <li>
                        <span>初一</span>
                        <span><a href="/teachers/<%=params.city %>/s-b1/">语文</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b2/">数学</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b3/">英语</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b6/">生物</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b8/">历史</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b9/">地理</a></span>
                    </li>
                    <li>
                        <span>初二</span>
                        <span><a href="/teachers/<%=params.city %>/s-b1/">语文</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b2/">数学</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b3/">英语</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b6/">生物</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b8/">历史</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b9/">地理</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b4/">物理</a></span>
                    </li>
                    <li>
                        <span>初三</span>
                        <span><a href="/teachers/<%=params.city %>/s-b1/">语文</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b2/">数学</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b3/">英语</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b6/">生物</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b8/">历史</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b9/">地理</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b4/">物理</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b5/">化学</a></span>
                    </li>
                </ul>
                <ul class="h_highUL">
                    <li>
                        <span>高一</span>
                        <span><a href="/teachers/<%=params.city %>/s-b1/">语文</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b2/">数学</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b3/">英语</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b6/">生物</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b8/">历史</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b9/">地理</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b4/">物理</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b5/">化学</a></span>
                    </li>
                    <li>
                        <span>高二</span>
                        <span><a href="/teachers/<%=params.city %>/s-b1/">语文</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b2/">数学</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b3/">英语</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b6/">生物</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b8/">历史</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b9/">地理</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b4/">物理</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b5/">化学</a></span>
                    </li>
                    <li>
                        <span>高三</span>
                        <span><a href="/teachers/<%=params.city %>/s-b1/">语文</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b2/">数学</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b3/">英语</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b6/">生物</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b8/">历史</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b9/">地理</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b4/">物理</a></span>
                        <span><a href="/teachers/<%=params.city %>/s-b5/">化学</a></span>
                    </li>
                </ul>
            </div>
        </li>
        <% } %>
        <li><a href="/<%= params.city%>"
            <% if(locals.active ==="homePage"){ %>
            class="navActive"
            <% } %>
        >首页</a></li>
        <li><a href="https://waijiao.51xuanshi.com/?channel=xswy" target="_blank">无忧外教</a></li>
        <li><a href="/<%= params.city %>/case/"
           <% if(locals.active ==="successCase"){ %>
            class="navActive"
            <% } %>
        >提分案例</a></li>
        <li><a href="/<%= params.city %>/zixun/"
            <% if(locals.active ==="zixunIndex"){ %>
            class="navActive"
            <% } %>
        >升学资讯</a></li>
        <li><a href="/<%= params.city %>/about/app.html"
            <% if(locals.active ==="appDownload"){ %>
            class="navActive"
            <% } %>
        >app下载</a></li>
        <li><a href="/<%= params.city %>/about/us.html"
            <% if(locals.active ==="aboutUS"){ %>
            class="navActive"
            <% } %>
        >关于我们</a></li>
    </ul>
</nav>